@import url(../../header-footer.css); 

 .main{
   font-family: "Comfortaa";
   font-size: 18px;
   line-height: 1.5em;
   color: white;
 }
 h1{
  font-size: 28px;
  line-height: 1.1em;
  margin-bottom: 20px;
  font-weight: bolder;
 
}
h2, h3{
 font-size: 24px;
}
.delivery_top_block{
  width: 100%;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  padding: 15px;
}
.delivery_top_container{
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 38%;
}
.delivery_details{
  align-self: center;
}

.delivery_picture{
  position: relative;
  justify-self: center;
   display: flex;
  justify-content: space-around;
  width: 95%;
  height: fit-content;
}
.delivery_picture>img{
  display: inline-block;
   width: 100%;
  height: auto;
}
.delivery_picture::after {
  content: "";
  /* В любом случае необходим, даже пустой. Иначе не будет работать */
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/location.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  animation: header_animation 3s ease infinite;
}
.delivery_details a {
  display: block;
  width: fit-content;
  padding: 10px;
  border-radius: 40px;
  background-color: #FAD961;
  background-image: linear-gradient(90deg, #f6ba05 0%, #f67410 100%);
  background-image: linear-gradient(to right, #eece62 0%, #ff9854 51%, #f66f65 100%);
  background-size: 140% 100%;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  letter-spacing: 1px;
  margin-top: 10px;
  text-align: end;
  line-height: 1em;
}

.delivery_wrapper{
  max-width: 1200px;
  margin: auto;
  padding: 15px;
}
.delivery_wrapper h2{
  text-align: center;
}
 
@keyframes header_animation {
	0% {
    transform: translateY(-25px);
	}
	50% {
    transform: translateY(-10px);
	}
	100% {
    transform: translateY(-25px);
	}
}
/*Таблица*/
table{
  margin-top: 15px;
  margin-bottom: 30px;
  width: 100%;
  overflow: hidden;
  border-radius: 15px;
  border-collapse: collapse;
}
table th, table td{
  text-align: left;
  padding: 10px;
}
table thead tr{
  background-color: #0093E9;
  font-size: 20px;
  line-height: 2em;
  background-image: linear-gradient(160deg, #0093E9 0%, #76e6c4 100%);
}

table tbody tr {
	border: 1px solid var(--insideBorderColor);
	background-color: rgba(79, 77, 110, 0.075);
  
}
table tbody tr:nth-child(odd) {
	background-color: rgba(79, 77, 110, 0.158);
}

.cards_container {
  max-width: 1200px;
  display: grid;
  column-gap: 15px;
  font-size: 14px;
  row-gap: 15px;
  grid-template-columns: repeat(4, 1fr);
  margin: auto;
  padding: 15px;
}
.card_item h3{
  font-size: 18px;
  margin-top: 15px;
  text-align: center;
  margin-bottom: 7px;
}
.card_item {
  position: relative;
  background-color: rgba(77, 90, 110, 0.158);
  border-radius: 15px;
  padding: 20px;
}
.card_item p{
  text-align: center;
  display: block;
  bottom:0;
  margin-bottom: 20px;
}
.card_item img{
  display: block;
  width: 60%;
  margin: auto;
  transition: .3s;
}
.card_item:hover img{
  -webkit-filter: drop-shadow(3px 5px 5px #000);
  filter: drop-shadow(0px 0px 13px rgba(110, 224, 228, 0.525));
}
@media (max-width: 930px) {
  .delivery_details{
    font-size: 16px;
  }
  h1, h2, h3 {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  h1 {
    text-align: center;
  }
  .delivery_top_container{
    grid-template-columns: auto;
    text-align: center;
  }
  .delivery_picture>img{
    margin: auto;
    display: inline-block;
    width: 100%;
    height: auto;
  }
  .delivery_details a{
    margin-left: auto;
    margin-right: auto;
  }
  .cards_container{
    grid-template-columns: repeat(2, 1fr);
  }
  .cards_container img{
    width: 50%;
  }
}

@media (max-width: 575px){
  .cards_container{
    grid-template-columns: repeat(1, 1fr);
    font-size: 16px;
  }
}