@import url(../../header-footer.css);
.main{
    font-family: "Comfortaa";
    font-size: 18px;
    line-height: 1.5em;
    color: white;
  }
h1{
    font-size: 28px;
    line-height: 1.1em;
    margin-bottom: 15px;
    font-weight: bolder;
 }
 h2, h3{
    margin-top: 20px;
    margin-bottom: 10px;
  font-size: 24px;
 }
 .ad{
    max-width: 1200px;
    margin: auto;
    margin-top: 10px;
    padding: 15px;
 }
 .ad_catalog{
    border-radius: 5px;
    position: relative;
    background-color: #FF9A8B;
    background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
    padding: 10px;
 }
 .ad_content{
    position: relative;
    border: solid 2px rgba(255, 255, 255, 0.464);
    padding: 5px;
    border-radius: 5px;
 }
 .hide_ad{
    position: absolute;
    right:10px;
    top:10px;
    background-color: transparent;
    border: none;
    color: white;
 }
 .catalog_page_content{
    max-width: 1200px;
    margin: auto;
    padding: 15px;
 }
 .catalog_navigation{
    display: flex;
    flex-wrap: wrap;
 
    gap:20px
 }
 .catalog_navigation>a{
    color: white;
    border-radius: 15px;
    padding: 5px;
 }
 .catalog_navigation>a:nth-child(1){
    background: linear-gradient(to top left, #ac89ce, #a186d6);
 }
 .catalog_navigation>a:nth-child(2){
    background: linear-gradient(to top left, #8bcbee, #73bac8);
 }
 .catalog_navigation>a:nth-child(3){
    background: linear-gradient(to top left, #ea9ce5, #d686c6);
 }
 .catalog_navigation>a:nth-child(4){
    background: linear-gradient(to top left, #dd83b1, #d75cbb);
 }
 .catalog_navigation>a:nth-child(5){
    background-image: linear-gradient(62deg, #eeac7d 0%, #f9dc94 100%);
 }
 .catalog_navigation>a:nth-child(6){
    background: linear-gradient(to top left, #6b44c1, #707fd4);
 }
 .catalog_navigation>a:nth-child(7){
    background: linear-gradient(to top left, #d269a5, #d45678);
 }
 .catalog_item{
    height: 100%;
 }
 .catalog_card{
    height: 100%;
    background-color: rgba(70, 52, 86, 0.126);
    border-radius: 15px;
    padding: 15px;
 }
 .catalog_card:hover{
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.126);
 }
 .card_picture{
    width: 100%;
    padding-top: 100%;
    background-color: transparent;
    overflow: hidden;
    border-radius: 15px;
    position: relative;
 }

 .cards_container img{
    position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
    display: block;
    margin: auto;
    width: 100%;
    transition: .4s;
 }
 .cards_container img:hover{
    width: 110%;
 }
 .card_details{
    padding-top: 10px;
 }
 .cards_container .price{
    display: flex;
    gap: 10px;
 }
 .item_name{
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis;
 }
 .cards_container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    row-gap: 15px;
    column-gap: 15px;
 }
 .price .last_price{
    text-decoration: line-through;
    color: rgba(255, 255, 255, 0.685);
 }
 .card_buttons>button{
    background-color: transparent;
    color: white;
 }
 button.add_to_cart{
    margin-right: 10px;
    background-color: #FF6A88;
    padding: 5px;
    border-radius: 5px;
 }
 button.add_to_cart:hover{
    background-color: #f87e96;
 }
 button.add_to_cart:active{
    background-color: #e45e79;
 }
 button.add_to_cart.active{
    background-color: #656565;
 }
 button.add_to_cart.active:hover{
    background-color: rgb(169, 169, 169);
 }
 button.add_to_cart.active:active{
    background-color:  #656565;
 }
 button.add_to_fav{
    color: grey;
    font-size: 20px;
 }
 button.add_to_fav:hover{
    color: rgb(169, 169, 169);
 }
 button.add_to_fav:active{
    color: #656565;
 }
 button.add_to_fav.liked{
    color: #e45e79;
 }
 button.add_to_fav.liked:hover{
    color: #f87e96;
 }
 button.add_to_fav.liked:active{
    color: #e45e79;
 }
 