@import url(../../header-footer.css);
.main{
    font-family: "Comfortaa";
    font-size: 18px;
    line-height: 1.5em;
    color: white;
  
  }
.favourite_content{
    max-width: 1200px;
    padding: 15px;
    margin: auto;
}
h1{
    font-size: 28px;
    line-height: 1.1em;
    margin-bottom: 15px;
    font-weight: bolder;
 }
 h2, h3{
    
    margin-bottom: 10px;
  font-size: 24px;
 }
 .cards_container{
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(1fr));
   row-gap: 15px;
   column-gap: 15px;
}
.catalog_item{
   height: 230px;
}
.catalog_card{
   justify-content: space-between;
   position: relative;
   display: flex;
   height: 100%;
   gap: 20px;
   background-color: rgba(70, 52, 86, 0.126);
   border-radius: 15px;
   padding: 15px;
}
.card_picture{
   min-width: 200px;
   height: 200px;
   border-radius: 15px;
   overflow: hidden;
}
.card_picture>img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.item_name{
   width: 30%;
}

.card_details{
   flex:1 1 auto;
   gap: 15px;
   justify-content: space-between;
   align-items: center;
   background-color: rgba(0, 255, 255, 0);
   display: flex;
}
.card_buttons{
   display: flex;
   gap:15px;
}
.card_buttons>button{
   padding: 3px;
   background-color: #656565;
}
.card_buttons button, .card_buttons div{
   font-size: 20px;
}
.price{
   text-align: end;
   word-wrap: break-word;
   width: 25%;
}


.card_picture{
   width: 200px;
   padding-top: 200px; 
   background-color: black;
   overflow: hidden;
   border-radius: 15px;
   position: relative;
}
.catalog_item{
  width: 100%;   
  height: 230px;
  height: fit-content;

}





.catalog_card:hover{
   box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.126);
}
.catalog_card:hover .remove{
   visibility: visible;
}

.catalog_item .remove{
   position: absolute;
   top: 10px;
   right: 10px;
   background-color: white;
   width: 18px;
   height: 18px;
   color: #656565;
   border-radius: 50%;
   font-size: 18px;
   visibility: hidden;
   z-index: 5;
   transition: all .2s;
}
.remove:hover{
   background-color: #d45678;
   color: white;
  
}

.cards_container img{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
  display: block;
  margin: auto;
  transition: .4s;
}
.cards_container img:hover{
   transform: scale(110%);
}
.card_details{
   padding-top: 10px;
}
.cards_container .price{
   
   gap: 10px;
}

.price .last_price{
   text-decoration: line-through;
   color: rgba(255, 255, 255, 0.685);
}
.card_buttons>button{
   background-color: transparent;
   color: white;
}
button.pay{
   margin-right: 10px;
   font-size: 18px;
   color: white;
   background-color: #FF6A88;
   padding: 5px;
   border-radius: 5px;
}
button.pay:hover{
   background-color: #f87e96;
}
button.pay:active{
   background-color: #e45e79;
}


.result{
   padding: 15px;
}
.total{
   gap: 10px;
   border-top: solid white;
   padding-top: 10px;
   display: flex;
   justify-content: space-between;
}
.price_description{
   color: #dbdbdb5b;
   font-weight: 100;
   font-size: 10px;
}
.counter{
   background-color: rgba(0, 0, 0, 0.175);
   width: 40px;
   border-radius: 5px;
   box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.219);
   text-align: center;
   padding: 2px;
}
@media (max-width: 1030px){
   .catalog_item .remove{
      visibility: visible;
      opacity: 90%;
   }
}
@media (max-width: 630px) {
   .catalog_card{
      flex-direction: column;
   }
   .card_picture{
      width: 100%;
      padding-top: 70%;
   }
   .item_name{
      text-align: center;
   }
}

@media (max-width: 400px) {
   h2, h3{
      font-size: 18px;
   }
   .card_details{
      flex-direction: column;
      justify-content: center;
   }
   .card_buttons{
      gap: 35px;
   }
   .card_picture{
      padding-top: 100%;
   }
   .card_details>div{
      width: fit-content;
   }
   .price{
      display: flex;
      text-align: center;
      justify-content: center;
      gap: 30px;
      flex-wrap: wrap;
      text-align: center;
   }
}
